<div class="col-md-3">
    <div class="card position-absolute top-50 start-50 translate-middle">
        <div class="card-body text-center">
            <img src="/assets/404.png" alt="" style="width:100%; height:100%;">
            <p class="lead">Página no encontrada.</p>
            <p class="text-muted">Lo siento, no hay recurso que mostrar.</p>
            <div class="d-grid grap-2">
                <a
                type="submit"
                class="btn btn-success btn-sm txt-white"
                style="font-size:0.7rem;"
                href="/"
                >
                Home
                </a>
            </div>
        </div>
      </div>
    </div>