<footer class="bg-dark text-center text-white position-relative">
        <div class="container p-4">
          <section class="mb-4">
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color:0082ca;"
              href={"https://www.linkedin.com/in/victor-jesus-maximo-abundio/"}
              target={"_blank"}
              rel="noreferrer"
              role="button"
            >
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color:333333;"
              href={"https://github.com/ProgrammerAuditore"}
              target={"_blank"}
              rel="noreferrer"
              role="button"
            >
              <i class="fab fa-github"></i>
            </a>
          </section>

          <section class="mb-4">
            <p>
              {{!-- Descripción  --}}
            </p>
          </section>
        </div>

        <div
          class="text-center p-3"
          style="background-color:rgba(141, 141, 141, 0.2);"
        >
          © 2022 Copyright:
          <a
            class="text-white"
            target={"_blank"}
            rel="noreferrer"
            href={"https://github.com/ProgrammerAuditore?tab=repositories"}
          >
            ProgrammerAuditore
          </a>
        </div>
      </footer>