<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">
              <img
                src="/assets/icon256x256.png"
                alt="pet-logo"
                width="60"
                height="60"
              />
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Mis canciones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cancion/agregar">Agregar</a>
              </li>
            </ul>
            <form class="d-flex" method="GET" action="/cancion/buscar">
              <input
                class="form-control me-2"
                type="search"
                name="q"
                data-bs-toggle="tooltip" 
                data-bs-placement="top" 
                title="Escribe titulo, genero o grupo"
                placeholder="Buscar una canción..."
                aria-label="Buscar"
              />
              <button 
                data-bs-toggle="tooltip" 
                data-bs-placement="top" 
                title="Buscar titulo, genero o grupo"
                class="btn btn-outline-success" 
                type="submit">
                Buscar
              </button>
            </form>
          </div>
        </div>
</nav>