<h1>Page Add Cancion</h1>

<form action="/cancion/registrar" method="POST">
    <input type="text" name="titulo" id="titulo" value="Ten la tuya">
    <input type="text" name="grupo" id="grupo" value="Ckan">
    <input type="text" name="genero" id="genero" value="Rap">
    <input type="number" name="anho" id="anho" value="2007">
    <input type="submit" value="Agregar">
</form>