<div class="alert alert-light" role="alert">
  <h1 class="alert-heading">Agregar canción</h1>
  <p>Agrega una canción a tu lista</p>
  <hr>
</div>

<div class="card m-4">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        {{!-- <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> --}}
      </ul>
    </div>
    <div class="card-body">
      <form action="/cancion/registrar" method="POST">
        <div class="mb-3">
          <label for="titulo" class="form-label">Titulo</label>
          <input
          type="text" 
          class="form-control"
          placeholder="Ej. Sigo Aqui" 
          autocomplete="off"
          name="titulo" 
          id="titulo" 
          required
          />
        </div>

        <div class="mb-3">
          <label for="grupo" class="form-label">Grupo</label>
          <input 
          type="text" 
          class="form-control"
          placeholder="Ej. Alex Ubago" 
          autocomplete="off"
          name="grupo" 
          id="grupo"
          required 
          />
        </div>

        <div class="mb-3">
          <label for="genero" class="form-label">Genero</label>
          <input 
          type="text" 
          class="form-control"
          placeholder="Ej. Pop" 
          autocomplete="off"
          name="genero" 
          id="genero" 
          required
          />
        </div>

        <div class="mb-3">
          <label for="anho" class="form-label">Año</label>
          <input 
          type="number" 
          class="form-control"
          placeholder="Ej. 2002" 
          autocomplete="off"
          name="anho" 
          id="anho" 
          required
          />
        </div>
        <input type="submit" class="btn btn-success" value="Agregar">
      </form>
    </div>
  </div>
</div>
