<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Realiza una aplicación que te permita ver un listado de tus canciones  favoritas. Con ese listado el usuario puede eliminar una cancion o agregar una cancion al listado.">
    <meta name="keywords" content="HTML, CSS, NodeJs, Bootstrap, Musica, Canciones">
    <meta name="author" content="ProgrammerAuditore">
    <meta name="copyright"content="ProgrammerAuditore">
    <meta name="url" content="https://app-musicapp.herokuapp.com">
    <meta name="language" content="ES">

    {{!-- OpenGraph Meta Tags --}}
    <meta name="og:title" content="Musicapp"/>
    <meta name="og:type" content="music"/>
    <meta name="og:url" content="https://app-musicapp.herokuapp.com/cancion/lista"/>
    <meta name="og:image" content="https://app-musicapp.herokuapp.com/assets/icon256x256.png"/>
    <meta name="og:site_name" content="App Musicapp"/>
    <meta name="og:description" content="Realiza una aplicación que te permita ver un listado de tus canciones  favoritas. Con ese listado el usuario puede eliminar una cancion o agregar una cancion al listado."/>

    <link rel="shortcut icon" href="/assets/icon64x64.png">
    <title>Document</title>

    <!-- FontAwesome Kit -->
    <script src="/fontawesome/all.min.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link href="/bootstrapv5/bootstrap.min.css" rel="stylesheet">

    <!-- Moment.js  -->
    <script src="/assets/moment-with-locales.js" crossorigin="anonymous"></script>
</head>
<body>

    {{>navbar}} 
    <div class="container" style="min-height:77.6vh;">
        {{{body}}}
    </div>
    {{>footer}} 

    <script src="/bootstrapv5/popper.min.js"></script>
    <script src="/bootstrapv5/bootstrap.min.js"></script>
</body>
</html>